.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.links{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right button{
    width: 100px;
    height: 40px;
    border-radius: 50%;
}